*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body, html{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
}
.menucircular {
    display: none;
}
.linha {
    background-color: white;
    width: 25px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: -12px;
    margin-top: -1px;
}
.linha-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.linha-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0x, 0);
}
.linha-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
.menucircular:checked + .menu-btn .linha1{
    -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
    transform: translate3d(0, 0, 0)rotate(45deg);
}
.menucircular:checked + .menu-btn .linha2{
    -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    transform: translate3d(0, 0, 0)scale(0.1, 1.0);
}
.menucircular:checked + .menu-btn .linha3{
    -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
    transform: translate3d(0, 0, 0)rotate(-45deg);
}
.menu {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}
.menu-btn, .menu-a{
    color: white;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border: 2px solid rgb(56, 54, 54);
    border-radius: 50%;
    text-align: center;
    background-color: black;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu-btn{
    z-index: 2;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(.2, .9, .35, 1.3);
    transition-timing-function: cubic-bezier(.2, .9, .35, 1.3);
}
.menucircular:checked ~ .menu-a:nth-child(3){
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0.1px, -100px, 0);
    transform: translate3d(0.1px, -100px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(4){
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, -50px, 0);
    transform: translate3d(90px, -50px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(5){
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, 50px, 0);
    transform: translate3d(90px, 50px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(6){
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(0.1px, 100px, 0);
    transform: translate3d(0.1px, 100px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(7){
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-90px, 50px, 0);
    transform: translate3d(-90px, 50px, 0);
}
.menucircular:checked ~ .menu-a:nth-child(8){
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-90px, -50px, 0);
    transform: translate3d(-90px, -50px, 0);
}
.menucircular:checked + .menu-btn{
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0.9, 0.9,)translate3d(0, 0, 0);
    transform: scale(0.9, 0.9)translate3d(0, 0, 0);
}
.menucircular:checked ~.menu-a{
    -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    transition-timing-function: cubic-bezier(.27, .68, .53, .3);
}
.menu-btn:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: inset 1px 1px 2px rgb(209, 19, 209), inset 1px -1px 2px blue
    inset -1px 1px 2px yellow, inset -1px -1px 2px red;
}
.ai-1{
    background-color: green;
}
.ai-1:hover{
    background-color: white;
    color: green;
}
.ai-2{
    background-color: rgb(128, 109, 0);
}
.ai-2:hover{
    background-color: white;
    color: rgb(128, 109, 0);
}
.ai-3{
    background-color: rgb(0, 109, 128);
}
.ai-3:hover{
    background-color: white;
    color: rgb(0, 109, 128);
}
.ai-4{
    background-color: rgb(0, 109, 128);
}
.ai-4:hover{
    background-color: white;
    color: rgb(0, 109, 128);
}
.ai-4{
    background-color: rgb(0, 109, 128);
}
.ai-4:hover{
    background-color: white;
    color: rgb(0, 109, 128);
}
.ai-5{
    background-color: rgb(0, 109, 128);
}
.ai-5:hover{
    background-color: white;
    color: rgb(0, 109, 128);
}
.ai-6{
    background-color: rgb(0, 109, 128);
}
.ai-6:hover{
    background-color: white;
    color: rgb(0, 109, 128);
}
svg {
    width: 45px;
    height: 66px;
    position: relative;
}
