*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    background-image: url(Fundo\ início.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    text-align: center;
}

button{
    position: relative;
}

h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
}

form legend{
    font-size: 25px;
}
img {
    width: 950px;
    height: 100%;
    margin: 0 0 0 200px;
}

@media screen and (max-width: 1020px){
    
    body{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    img {
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 530px;
    }
}