*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    background-image: url(Fundo\ início.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    text-align: center;
}

h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
}

form legend{
    font-size: 25px;
}
img {
    width: 650px;
    height: 470px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    object-fit: cover;
    margin: 0 350px;
}

#quadraA{
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    height: 80px;
    width: 195px;
    top: 0;
    left: 0;
    padding: 0.5em;
    position: absolute;
    transform: translate(500px, 230px);
}

#quadraB{
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    height: 60px;
    width: 160px;
    top: 0;
    left: 0;
    padding: 0.5em;
    position: absolute;
    transform: translate(705px, 250px);
}

#quadraC{
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    height: 60px;
    width: 220px;
    top: 0;
    left: 0;
    padding: 0.5em;
    position: absolute;
    transform: translate(470px, 320px);
}

#solo{
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    height: 60px;
    width: 165px;
    top: 0;
    left: 0;
    padding: 0.5em;
    position: absolute;
    transform: translate(700px, 330px);
}

@media screen and (max-width: 1020px){
    
    body{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    img {
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 530px;
    }
}