img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1020px){
    img{
        justify-content: center;
        align-items: center;
        margin: 150px 0;
        width: 100%;
        height: 100%;
    }
}